html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}

#canvasOverlay {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

#fadeOverlay {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
